*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Over flow y hidden */
  
}

html,
body {
    height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  color: white;
  /* background: #080808 */
  background: #020202
  /* background: 181828; */
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  text-decoration: none;
  list-style: none;
}
::-webkit-scrollbar {
    width: .40rem;
    background-color: #1e1e2a;
    border-radius: .2rem;
}

::-webkit-scrollbar-thumb {
    background-color: #3883c5;
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #355C7D   
}