.featured{
    height: 90vh;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        // lower image brightness
        filter: brightness(0.5);
    }

    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;

        h1{
            font-size: 60px;
            font-weight: 600;
            margin-bottom: 10px;
            width: 80vw;
        }
        img{
            width: 400px;
        }

        .desc{
            margin: 20px 0px;
            width: 70vw;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;

            button{
                margin-right: 15px;
                padding: 10px 20px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                font-size: 17px;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }
            }


            .more{
                background-color: rgb(26, 25, 25);
                color: rgb(249, 249, 249);

                span{
                    margin-left: 10px;
                }
            }

        }
    }
}