.middle-panel{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.post {

    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    text-align: center;
    padding: 0.7rem;
    margin: 1.5rem 0;
    transition: transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    background 0.4s ease-in-out,
    color 0.4s ease-in-out;
    width: 100%;
    /* Preset 01 */
    /* background:  #050508;
    border: 1px solid rgba(255, 255, 255, 0.2); */

    /* Preset 02 */
    background: rgba(255, 255, 255, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);



}


.review:hover {
    background: #050508;
    box-shadow: 0 4px 28px 0 rgba(31, 38, 135, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.post .post-top{
    display:flex;
    align-items: center;
    padding:10px 10px;
}

.post .post-top .dp{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow:hidden;
}

.post .post-top .dp > img{
    width:100%;
    cursor:pointer;
}

.post .post-top .post-info{
    margin-left:10px;    
    font-weight: bold;
}

.post .post-top .post-info .name{
    cursor:pointer;
    font-size:16px;
}

.post .post-top .post-info .time{
    font-size:12px;
    cursor:pointer;
}

.post .post-top i{
    margin-left:auto;
    cursor: pointer;
}

.post .post-top > input{
    height:40px;
    padding:5px 10px;
    border-radius:25px;
    outline:none;
    border:none;
    flex:1;
    background:rgb(139, 139, 139);
    margin-left:10px;
}

.post .post-content{
    font-size:16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight:normal;
    width: 1020px !important;
    padding: 0px 20px !important;
    /* padding:10px; */
}

.post .post-bottom{
    box-shadow: 1px solid #ddd;
    display:flex;
    justify-content: space-between;
    padding:5px 5px 0px 5px;
}

.post .post-bottom .action{
    padding:10px;
    border-radius:10px;
    transition: .3s ease-in;
    cursor: pointer;
}
